#!/bin/sh

# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

uorb start
muorb start
sleep 1

qshell param set SYS_AUTOSTART 4001
qshell sleep 1
qshell gps start -d /dev/tty-4
qshell param set MAV_TYPE 2
qshell sleep 1
#qshell df_hmc5883_wrapper start
#qshell df_mpu9250_wrapper start_without_mag
qshell df_mpu9250_wrapper start
qshell df_bmp280_wrapper start
qshell df_trone_wrapper start
qshell #df_ltc2946_wrapper start # (currently not working on all boards...)
qshell #df_isl29501_wrapper start
qshell sleep 1
qshell sensors start
qshell commander start
qshell ekf2 start
qshell land_detector start multicopter
qshell mc_pos_control start
qshell mc_att_control start
qshell snapdragon_pwm_out start
qshell spektrum_rc start

logger start -t -b 200
# Wait 1s before setting parameters for muorb to initialize
sleep 1
param set MAV_BROADCAST 1
dataman start
navigator start
mavlink start -x -u 14556 -r 1000000
sleep 1
mavlink stream -u 14556 -s HIGHRES_IMU -r 50
mavlink stream -u 14556 -s ATTITUDE -r 50
mavlink stream -u 14556 -s RC_CHANNELS -r 20
mavlink boot_complete

listener vehicle_status
listener vehicle_status

uorb top -1
perf
